
<h1>Liste Solution</h1>
<!-- 🔍 Recherche -->
<input
  type="text"
  [(ngModel)]="searchTerm"
  placeholder="🔍 Rechercher une solution  "
  (input)="onSearchChange()"
  style="margin-bottom: 50px; padding: 6px;margin-right: 50px; width: 300px;margin-top: 50px;margin-left: 80px;"
/>
<!-- ❌ Bouton pour vider -->
<button
  *ngIf="searchTerm"
  (click)="clearSearch()"
  title="Effacer"
>
  ✖
</button>



<!-- ➕ Bouton ajout -->
<button (click)="showPopup = true" style="margin-top: 15px;width: 300px;">➕ Ajouter</button>

<h2>📋 Liste des solutions</h2>
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <!-- Si la liste est vide -->
    <tr *ngIf="filteredSolutions().length === 0">
      <td colspan="3" style="text-align: center;">La liste est vide</td>
    </tr>
    <!-- Sinon, affiche les solutions -->
    <tr *ngFor="let solution of filteredSolutions()">
      <td>{{ solution.id }}</td>
      <td>{{ solution.name }}</td>
      <td>
        <button (click)="openEditPopup(solution)">✏</button>
        <button (click)="askDelete(solution.id!)">🗑</button>
      </td>
    </tr>
  </tbody>
</table>

<!-- 📄 Pagination -->
<div *ngIf="pageCount > 1" style="margin-top: 10px;">
  <button *ngFor="let p of [].constructor(pageCount); let i = index"
          (click)="goToPage(i)"
          [disabled]="i === currentPage"
          style="margin-right: 5px;">
    {{ i + 1 }}
  </button>
</div>

<!-- Fenêtre d'ajout -->
<div *ngIf="showPopup" class="popup-box">
  <h3>Ajouter une solution </h3>
  <input
    type="text"
    [(ngModel)]="newSolution.name"
    placeholder="Nom de la solution"
    style="width: 100%; padding: 6px;"
  />
  <div style="margin-top: 10px;">
    <button (click)="addSolution()">✅ Ajouter</button>
    <button (click)="showPopup = false">❌ Annuler</button>
  </div>
</div>
<div *ngIf="showPopup" class="popup-overlay"></div>

<!-- Popup solution existe déjà Add-->
<div *ngIf="showAlreadyExistsPopup" class="popup-box">
  <h3>La solution existe déjà !</h3>
  <div style="margin-top: 10px;">
    <button (click)="closeAlreadyExistsPopupAdd()">OK</button>
  </div>
</div>
<div *ngIf="showAlreadyExistsPopup" class="popup-overlay"></div>

<!-- Popup solution existe déjà Update-->
<div *ngIf="showAlreadyExistsPopupUpdate" class="popup-box">
  <h3>La solution existe déjà !</h3>
  <div style="margin-top: 10px;">
    <button (click)="closeAlreadyExistsPopupUpdate()">OK</button>
  </div>
</div>
<div *ngIf="showAlreadyExistsPopup" class="popup-overlay"></div>

<!-- POPUP DE CONFIRMATION -->
<div
  *ngIf="showPopupSuppression"
  style="
    position: fixed; top: 20%; left: 35%; width: 30%; background: white;
    padding: 20px; border: 1px solid #ccc; box-shadow: 0 0 10px #999;
    z-index: 1000;
  "
>
  <h3>Voulez-vous vraiment supprimer cette solution ?</h3>
  <div style="margin-top: 10px;">
    <button (click)="confirmDelete()">Confirmer</button>
    <button (click)="cancelDelete()">Annuler</button>
  </div>
</div>

<!-- Optionnel, pour griser le fond -->
<div
  *ngIf="showPopupSuppression"
 class="popup-box"
></div>

<!-- POPUP Champ vide -->
<div
  *ngIf="showEmptyFieldPopupUpdate"
  class="popup-box"
 
>
  <h3>Le champ est vide update !</h3>
  <div style="margin-top: 10px;">
    <button (click)="closeEmptyFieldPopupUpdate()">OK</button>
  </div>
</div>
<div
  *ngIf="showEmptyFieldPopup"
class="popup-box"
></div>

<!-- Popup champ vide -->
<div *ngIf="showEmptyFieldPopup" class="popup-box">
  <h3>Le champ est vide !</h3>
  <div style="margin-top: 10px;">
    <button (click)="closeEmptyFieldPopup()">OK</button>
  </div>
</div>
<div *ngIf="showEmptyFieldPopup" class="popup-overlay"></div>

<!-- Popup succès -->
<div *ngIf="showSuccessPopup" class="popup-box">
  <h3>Ajout avec succès !</h3>
  <div style="margin-top: 10px;">
    <button (click)="closeSuccessPopup()">OK</button>
  </div>
</div>
<div *ngIf="showSuccessPopup" class="popup-overlay"></div>

<!-- Popup succès modification -->
<div *ngIf="showEditSuccessPopup" class="popup-box">
  <h3>Modification avec succès !</h3>
  <div style="margin-top: 10px;">
    <button (click)="closeEditSuccessPopup()">OK</button>
  </div>
</div>
<div *ngIf="showEditSuccessPopup" class="popup-overlay"></div>

<!-- Popup succès suppression -->
<div *ngIf="showDeleteSuccessPopup" class="popup-box">
  <h3>Suppression avec succès !</h3>
  <div style="margin-top: 10px;">
    <button (click)="closeDeleteSuccessPopup()">OK</button>
  </div>
</div>
<div *ngIf="showDeleteSuccessPopup" class="popup-overlay"></div>


<!-- Popup de Modiffication-->
<div *ngIf="showEditPopup" class="popup-box">
  <h3>Modifier la campagne</h3>
  <input [(ngModel)]="editedName" placeholder="Nom de la campagne" />
  <div>
    <button [disabled]="!editId" (click)="updateSolution(editId!, editedName)">💾 Enregistrer</button>
    <button (click)="closeEditPopup()">❌ Annuler</button>
  </div>
</div>

